<h1>Home</h1>

<div>
  <h5>Create Todo</h5>
  <input type="description" placeholder="description" [(ngModel)]="todo.description" />
 <button (click)="create()">Submit</button>
</div>
<h5>View Todos</h5>
<ul>
  <li *ngFor="let t of todos">
    {{t.description}} <button (click)="edit(t)">edit</button> <button (click)="delete(t._id)">delete</button>
  </li>
</ul>

<!-- <div class="row">
  <div class="col s4">
    <span><b>Chore Name:</b> </span>
    <input #choreName placeholder="Name" type="text" class="validate">
    <a class="waves-effect waves-light btn" (click)="add(choreName.value); choreName.value=''">
      Add
    </a>
  </div>
</div>

<div class="row">
    <div class="col s4">
      <span><b>My Chores</b></span>
      <div class="collection">
      <a *ngFor="let chore of chores" [class.active]="chore === selectedChore" (click)="onSelect(chore)" class="collection-item">
      <div>{{chore.name}}<a class="secondary-content"><i class="material-icons" (click)="delete(chore); $event.stopPropagation()">delete</i></a></div>
      </a>
      </div>
    </div>

    <div *ngIf="selectedChore">
  <span>
    {{selectedChore.name | uppercase}}
  </span>
  <a class="btn" (click)="gotoDetail()">View Details</a>
</div>

</div> -->
