<nav>
  <div class="nav-wrapper">
    <a class="brand-logo right">{{title}}</a>

    
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="/dashboard" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/todo" routerLinkActive="active">To Do</a></li>
      <li><a routerLink="/login" routerLinkActive = "active">Login</a></li>
      <li><a routerLink="/register" routerLinkActive = "active">Register</a></li>
    </ul>
  </div>
</nav>
<br />
<router-outlet></router-outlet>
  